@font-face {
  font-family: helvetica;
  src: url("./assets/fonts/helvetica/HelveticaNowDisplay-Regular.ttf") format("ttf"),
    url("./assets/fonts/helvetica/HelveticaNowDisplay-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: helvetica-thin;
  src: url("./assets/fonts/helvetica/HelveticaNowDisplay-Thin.ttf") format("ttf"),
    url("./assets/fonts/helvetica/HelveticaNowDisplay-Thin.ttf") format("ttf");
  font-weight: 400;
  font-style: thin;
}

@font-face {
  font-family: helvetica-bold;
  src: url("./assets/fonts/helvetica/black.ttf") format("ttf"),
    url("./assets/fonts/helvetica/black.ttf") format("ttf");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: helvetica-light;
  src: url("./assets/fonts/helvetica/HelveticaNowDisplay-Light.ttf") format("ttf"),
    url("./assets/fonts/helvetica/HelveticaNowDisplay-Light.ttf") format("ttf");
  font-weight: 400;
  font-style: bold;
}

* {
  font-family: helvetica, -apple-system, BlinkMacSystemFont;
  letter-spacing: -0.05em;
}
