@font-face {
  font-family: lato;
  src: url("./assets/fonts/Lato/lato.ttf") format("ttf"),
    url("./assets/fonts/Lato/lato.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lato-thin;
  src: url("./assets/fonts/Lato/latothin.ttf") format("ttf"),
    url("./assets/fonts/Lato/latothin.ttf") format("ttf");
  font-weight: 400;
  font-style: thin;
}

@font-face {
  font-family: lato-bold;
  src: url("./assets/fonts/Lato/latoblack.ttf") format("ttf"),
    url("./assets/fonts/Lato/latoblack.ttf") format("ttf");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: lato-light;
  src: url("./assets/fonts/Lato/latolight.ttf") format("ttf"),
    url("./assets/fonts/Lato/latolight.ttf") format("ttf");
  font-weight: 400;
  font-style: bold;
}

* {
  font-family: lato, -apple-system, BlinkMacSystemFont;
}
